{erl_opts, [
    debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,
    {platform_define, "R14", no_callback_support},
    {platform_define, "^[0-9]+", namespaced_types},
    {platform_define, "^R", no_proxy_sni_support}
]}.

{deps, [
    {cowlib, "2.7.0"},
    {idna, "6.0.0"},
    {certifi, "2.5.1"},
    {ssl_verify_fun, "1.1.4"},
    {gen_statem2, {git, "https://github.com/gskynet/gen_statem2.git", {branch, "master"}}}
]}.
